* {
    box-sizing: border-box;
}


body{
    margin: 0;
    font-family: sans-serif;  
}
.container{
    width: calc(100% - 120px);
    margin: auto;
}

header{
    .logo{
        h1{
            font-weight: 300;
            span{
                font-weight: 600;
                color: hotpink;
            }
        }
    }
.container{
    display: flex;
    align-items: center;
}
.searchBar{
    margin-left: auto;
}
.header-option{
    padding-left: 5rem;
    letter-spacing: 0.6px;
}
.currentDetails, 
.searchBar{
    display: flex;
}
}

.options{
    padding: 1.2rem 0;
    .options-btn{
        background: grey ;
        padding: 0.8rem 1rem;
        border-radius: 30px;
        border: 0;
        font-size: 1rem;
        font-family: sans-serif;
        letter-spacing: 0.6px;
        &.selected{
            background: black;
            color: white;
        }
    }
}

.listings{
    padding: 2rem 0;
    .header{
        display: flex;
        align-items: center;
        .header-title{
            h2{
                font-weight: 400;
                font-size: 1.7rem;
                margin-bottom: 0.5rem;
                margin-top: 0;
            }
            span{
                color: rgb(92, 91, 91);
            }
        }
        .header-viewOptions {
            margin-left: auto;
            display: flex;
            align-items: center;
            margin: auto 0 auto auto;
            .viewAll{
                color:hotpink;
                padding-right: 2rem;
            }
            .viewMore{
                .arrow{
                    width: 40px;
                    height: 40px;
                    background: turquoise;
                    align-items: center;
                    justify-content: center;
                    background: hotpink;
                    opacity: 0.3;
                    transition: all 0.2s ease-in-out;
                    cursor: pointer;
                    &.darker, 
                    &:hover{
                        opacity: 1;
                    }
                }
            }
        }
    }
}
.circle{
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    display: inline-flex;
}


.listing-grid{
    .listing-grid-element{
        width: 33%;
        margin-top: 2rem;
        .image{
            height: 240px;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .text{
            display: flex;
            align-items: center;
            border-bottom: 1px solid #ddd;
            padding-bottom: 1rem 0;
            h3{
                font-weight: 400;
                margin-bottom: 0.3rem;
                margin-top: 0;
            }
            span{
                font-size: 0.8rem;
                font-weight: 300;
                color: rgb(92, 91, 91);
            }
            .rating{
                margin: auto 0 auto auto;
                height: 100%;
                span{
                    height: 40px;
                    width: 40px;
                    background: gray;
                    font-size: 1rem;
                    color: black;
                }
            }
        }
    }
}
 